.first-div{
    margin: auto;
    margin-top: 5%;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: block;
}
.div-second{
    justify-content: center;
    align-items: center;
    background-color: #FCFCFD;
    width: 850px;
    height: 60px;
    margin: auto;
    border-radius: 10px;
}
.first-txt{
    margin-top: 10px;
    font-size: 48px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    color: #262626;
}
span { 
    color:orange;
    
}
.homeLogo{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.third-div{
    display: block;
    text-align: center;
    font-size: 38px;
    font-weight: medium;
    width: 850px;
    height: 50px;
    margin: auto;
    color: #262626;
}
Button{
    margin-top: 50px !important;
    background-color: #FF9500 !important;
    margin-top: 10px;
    font-size: 18px!important;
    border-radius: 10px;
    color: #262626 !important;
    color: white !important;
    padding: 12px !important;
    border: none !important;
}
.button-white{
    background-color: #FCFCFD !important;
    color: #262626 !important;
}
.div-list{
    margin-top: 270px;
    border: none;
    border-radius: 10px;
    margin-left:10%;
}
.list-group{
padding: 10px;
margin: auto;
}
.main-img{
    width: 90%!important;
}
.hpimg{
    text-align: center;
    margin-top: 0%;
}
.txt-benefits {
    width: 88%;
    margin-left: 6%;
    display: flex;
    justify-content: space-between !important;
    align-items: baseline;
}
.txt-benefits h1{
    font-weight: 600;
    font-size: 48px;
}
.btn-view{
    color: #262626;
    font-weight: 600!important;
    font-size: 18px !important;
}
.kart{
    margin: 2% 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
}
.div-kartcourses{
    margin: 2% 5%; 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
}
.prising_div{
    margin-right: 15px;
    background-color: #FF9500!important;
    color: white !important;
    margin-top: 30px;
}
.btn-div{
margin: auto;
}
.pricing_div {
    display: flex;
    padding: 40px 24px 24px 24px;
    flex-direction: column;
    align-items: center;
    /* gap: 50px; */
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid var(--White-95, #F1F1F3);
    background: var(--White-99, #FCFCFD);
}
.prices_div {
    display: flex;
    padding: 50px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.price_title {
    display: flex;
padding: 10px 22px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 4px;
border: 1px solid var(--Orange-90, #FFEACC);
background: var(--Orange-97, #FFF9F0);
}
.price_item {
    display: flex;
justify-content: center;
align-items: flex-end;
align-self: stretch;
}
.price_item_value {
    color: var(--Grey-15, #262626);
font-family: Be Vietnam Pro;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 73%; /* 43.8px */
}
.price_item_time {
    color: var(--Grey-30, #4C4C4D);
font-family: Be Vietnam Pro;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 73%; /* 11.68px */
}
.price_availabilities {
    color: var(--Grey-15, #262626);
text-align: center;
font-family: Be Vietnam Pro;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
}
.price_availability_item {
    display: flex;
padding: 12px;
align-items: flex-start;
/* gap: 8px; */
align-self: stretch;
border-radius: 6px;
border: 1px solid var(--White-95, #F1F1F3);
}
/* .price_availability_item_svg {
    margin-top: -21px;
} */
.price_availability_item_text {
    color: var(--Grey-30, #4C4C4D);
font-family: Be Vietnam Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}
.price_div{
    margin-top: 5px;
}