.mainDiv {
    margin: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.headNav {
    background-color: orange;
    margin-top: 0.5%;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.navLogo {
font-size: 18px;
margin-top: 5px;
border-radius: 5px;
background-color: orange;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}
.navStyle{
    justify-content: space-around;
    font-size: 18px;
    
}
.imgLogo {
    width: 22px;
    height: 23px;
    padding: 1px;
    
}
.nav-login{
    color: white !important;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
}