.btn1{
    display: absolute;
    width: max-content;
    height: max-content;
text-align: end;
/* background-color: #FCFCFD !important; */
/* margin-top: 1% ; */
margin-top: 0%;

}
.kart-num{
    text-align: end;
    font-size:65px;
    margin-bottom: 8%;
    font-weight: bold;
}
.kart-txt{
    margin-left: 5%;
    margin-bottom: 0%;
    height: 600px;
}
.title{
    font-size: 24px;
    margin-left: 5%;
}

